hostname = wl-taiko.wahlap.net, www.baidu.com

^https:\/\/wl\-taiko\.wahlap\.net\/api\/user\/profile\/songscore url script-response-body getter.js

^https:\/\/www\.baidu\.com\/api\/ahfsdafbaqwerhue url script-response-body setter.js
