hostname = wl-taiko.wahlap.net, www.baidu.com

^https:\/\/wl\-taiko\.wahlap\.net\/api\/user\/profile\/songscore url script-response-body https://raw.gitmirror.com/n1vk/donnote-quantumultx-script/refs/heads/main/getter.js

^https:\/\/www\.baidu\.com\/api\/ahfsdafbaqwerhue url script-response-body https://raw.gitmirror.com/n1vk/donnote-quantumultx-script/refs/heads/main/setter.js
